.FS_toggleEventContent_Button {
	background-color: #BB46BB;
	border: 0 none;
	border-radius: 30px 30px 30px 30px;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	padding: 3px 8px;
	border-radius: 5px 5px 5px 5px;
	line-height: 20px;
	float: right;
	margin-left: 5px;
}

.FS_toggleEventContent_Button:hover {
	background-color: #d44dd4;
}

.pointer {
    cursor: pointer;
}

